[submodule "start/vim-gruvbox8"]
	path = pack/confuset-vim/start/vim-gruvbox8
	url = https://github.com/lifepillar/vim-gruvbox8.git
[submodule "start/vim-illuminate"]
	path = pack/confuset-vim/start/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "start/vim-search-pulse"]
	path = pack/confuset-vim/start/vim-search-pulse
	url = https://github.com/inside/vim-search-pulse.git
[submodule "start/vim-vinegar"]
	path = pack/confuset-vim/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
